.container{
	position:absolute;
	top: 175px;
	right: 6px;
	width:66px;
	height:150px;
}
.legend-title1{
	 direction: rtl;
	 position: absolute;
	 right:80px;
	 top:22px;
	 color:#FFFFFF;
	 width:120px;
 }
.legend-title2{
	direction: rtl;
	position: absolute;
	right:80px;
	top:120px;
	color:#FFFFFF;
	width:120px;
}
.legend-title3{
	direction: rtl;
	position: absolute;
	right:80px;
	top:215px;
	color:#FFFFFF;
	width:120px;
}
.legend-title4{
	direction: rtl;
	position: absolute;
	right:80px;
	top:312px;
	color:#FFFFFF;
	width:120px;
}
.legend-title5{
	direction: rtl;
	position: absolute;
	right:80px;
	top:408px;
	color:#FFFFFF;
	width:120px;
}
.legend-title6{
	direction: rtl;
	position: absolute;
	right:80px;
	top:512px;
	color:#FFFFFF;
	width:120px;
}
.top_legend_container {
	position:absolute;
	top: 175px;
	right: 6px;
	width:66px;
	height:452px;
}
.Police{
	background-image:url("../images/police.png");
	background-repeat:no-repeat;
}
.Army{
	margin-top:24px;
	background-image:url("../images/army.png");
	background-repeat:no-repeat;
}
.Ashdod {
	background-image:url("../images/ashdod.png");
	background-repeat:no-repeat;
}
.Haifa {
	margin-top:24px;
	background-image:url("../images/haifa.png");
	background-repeat:no-repeat;
}
.Medical {
	background-image:url("../images/medical.png");
	background-repeat:no-repeat;
}
.Industrial {
	margin-top:24px;
	background-image:url("../images/idustrial.png");
	background-repeat:no-repeat;
}
.Electric {
	margin-top:24px;
	background-image:url("../images/electric.png");
	background-repeat:no-repeat;
}
.Ports {
	margin-top:24px;
	background-image:url("../images/ports.png");
	background-repeat:no-repeat;
}
.Education {
	margin-top:24px;
	background-image:url("../images/education.png");
	background-repeat:no-repeat;
}
.legend span {
    width: 66px;
    height:66px;
    display: inline-block;
    cursor: pointer;
}