.container{
	position:absolute;
	top: 175px;
	right: 6px;
	width:66px;
	height:150px;
}
.Police{
	background-image:url("../images/police.png");
	background-repeat:no-repeat;
}
.Army{
	margin-top:24px;
	background-image:url("../images/army.png");
	background-repeat:no-repeat;
}
.legend span {
    width: 66px;
    height:66px;
    display: inline-block;
    cursor: pointer;
}