
* { margin : 0px ; padding: 0px ;}

header,nav,main,footer,section,article,aside {
	display : block;
}

body {
	font-family:alef,Arial;
}

@font-face {
	font-family: alef;
	src: url(Alef-Regular.ttf);
	font-style: normal;
	font-weight: normal;
}

#wrapper,#index_wrapper, #degree_wrapper,#port_wrapper,#ports_degree_wrapper {

	position: relative;
	width:1004px;
	height:670px;
	margin : 0 auto;
	padding-top: 40px;
}

.indexBackgr{
		background-image:url("../images/main.png");
}
.armyPolice{
		background-image:url("../images/army-police.png");
}
#top {
	background-image: url("../images/top.png");
}
#degree_wrapper {
	background-image:url("../images/degree_back.jpg");
}

#port_wrapper {
	background-image:url("../images/port_background.png");
}

#ports_degree_wrapper {
	background-image:url("../images/ports_degree_back.png");
}



#slider-container {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    width: 570px;
    height: 70px;    
    position: absolute;
	top:395px;
    margin: 0 auto;
}
#slider-cotert{
	position: absolute;
	top:-30px;
	right:-3px;
	color:#FFFFFF;
	font-size: 16px;

}
.ui-slider-tick-mark{
	display:inline-block;
	width:2px;
	height:16px;
	position:absolute;
	left:74px;
	margin-top: -15px;
	font-family: alef;
	color: #FFFFFF;
	font-size: 14px;

}

#slider-background {	
    margin: 0 auto;
    height:24px;
    width: 570px;
    background: url('images/background.png') no-repeat left top;
}

#graphContainer{
	position:absolute;
	top:133px;
	right:155px;
}


#sliderCon{
	position:absolute;
	right:890px;
	top:139px;
	height: 570px;
	
}

.c3-axis.c3-axis-y{
	font-size:12px;
	fill:#ffffff;
	color:#ffffff;
	background-color:#ffffff;
}
.c3-axis.c3-axis-x{
	font-size:26px;
	fill:#ffffff;
	color:#ffffff;
	background-color:#ffffff;
}
#degree1small {
	top:416px;
	position:relative;
	height:350px;
	width:300px;
	left:100px;
	font-family: Arial;
}
#small_graph1{
	position:absolute;
	top:132px;
	left:125px;
	height:200px;
	width:350px;
}

#pieGraph {
	position:absolute;
	top:125px;
	left:-309px;
	height:250px;
	width:350px;
}
/*this is the homepage*/
  #line{
  	position:absolute;
  	bottom:50px;
    width: 1000px;
    margin: 20px 0;
    height: 500px;
  }
  button {
    margin: 20px 0 0 20px;
  }
  #link1,#link2,#link3 {
  	font-family: alef,Arial;
  	color:#ffffff;
  	text-decoration: none;
  }

    #link1 a:link,#link2 a:link,#link3 a:link {
  	font-family: alef,Arial;
  	color:#ffffff;
  	text-decoration: none;
  }
  #link1 a:visited,#link2 a:visited,#link3 a:visited {
  	font-family: alef,Arial;
  	color:#ffffff;
  	text-decoration: none;
  }
    #link1 a:active ,#link2 a:active ,#link3 a:active {
  	font-family: alef,Arial;
  	color:#ffffff;
  	text-decoration: none;
  }
  
  .centered {
    margin-top: 100px;
}
 
h1 , h2 {
    text-align: center;
}
 
h1 , h3 {
    font-size: 22px;
}
 
.headline {
    font-size: 22px;
    font-weight: normal;
    text-decoration: none;
    color: #ffffff;
 
}
 .pageCoteret{
 	direction:rtl;
 	position:absolute;
 	right:20px;
 }
.main-line {
    width: 358px;
    margin: 0px 333px;
    position: relative;
    top: -12px;
}
 
.dot-line {
    position: relative;
    top: -12px;
 
}
 
h4 , h2 {
    color: #ffffff;
    font-weight: bold;
    font-size: 40px;
    position: relative;
    top: -26px;
}
 
h3 , h4 {
    padding-right: 3px; 
}
  
  /* man icon Style */
.manIcon {
	position:absolute;
	top:492px;
	right:50px;
    width: 400px;
    height: 290px;
}
#mainIcon {
	position:absolute;
	top:288px;
	right:0px;
    width: 120px;
    height: 290px;
}
#lineDiv1{
	background-image:url("../images/line1.png");
	background-repeat: no-repeat;
	position:absolute;
	right:42px;
	width:120px;
	height: 65px;
	color:#FFFFFF;
	font-size:44px;
	padding-right: 170px;
	padding-bottom: 40px;
	margin-top: -20px;
}
#lineDiv2{
	background-image:url("../images/line2.png");
	background-repeat: no-repeat;
	position:absolute;
	right:60px;
	width:120px;
	height: 65px;
	color:#FFFFFF;
	font-size:44px;
	padding-right: 170px;
	margin-top: 15px;
}
#lineDiv3{
	background-image:url("../images/line3.png");
	background-repeat: no-repeat;
	position:absolute;
	right:41px;
	width:120px;
	height: 65px;
	color:#FFFFFF;
	font-size:44px;
	padding-right: 201px;
	margin-top: 20px;
}

.avarageColor2 ,.avarageColor3{
	fill: #ffffff;
	opacity:0.3;
}
.avarageColor1{
	fill: #ffffff;
	opacity:0.3;
}

#holdci3 {
	margin-top: -291px;
    overflow: hidden;
    width: 100%;

}
#holdci2 {
	margin-top: -291px;
    overflow: hidden;
    width: 100%;

}
#holdci{
	margin-top: -286px;
    overflow: hidden;
    width: 100%;

}
#colorIcon,#colorIcon2,#colorIcon2 {
    width: 100%;
    height: 100%;
}

