* { margin : 0px ; padding: 0px ;}

header,nav,main,footer,section,article,aside {
	display : block;
}


/* main icon Style */
.manIcon {
	position:absolute;
	top:440px;
	right:50px;
    width: 120px;
    height: 290px;
}
#mainIcon {
    width: 100%;
    height: 100%;
}

.avarageColor1{
	fill: #ffffff;
}
.avarageColor2{
	fill: #bcbcbc;
}
#holdci,#holdci2 {
	margin-top: -289px;
    overflow: hidden;
    width: 100%;
    height: 0%;
}
#colorIcon,#colorIcon2 {
    width: 100%;
    height: 100%;
}

/*----------------------------*/
#wrapper, #degree_wrapper,#port_wrapper {
	position: relative;
	width:1004px;
	height:768px;
	margin : 0 auto;
	background-image:url("../images/backkk.jpg");
}

#degree_wrapper {
	background-image:url("../images/degree_back.jpg");
}

#port_wrapper {
	background-image:url("../images/port_background.png");
}

#slider-container {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    width: 570px;
    height: 70px;    
    position: absolute;
	top:395px;
    margin: 0 auto;
}

#slider-background {	
    margin: 0 auto;
    height:24px;
    width: 570px;
    background: url('images/background.png') no-repeat left top;
}


.wrapper{
	position:relative;
	margin:0 auto;
	height:768px;
	width:1004px;
	background-color:red;
}
#graphContainer{
	position:absolute;
	top:133px;
	right:155px;
}


#sliderCon{
	position:absolute;
	right:890px;
	top:139px;
	height: 570px;
	
}

.c3-axis.c3-axis-y{
	font-size:12px;
	fill:#ffffff;
	color:#ffffff;
	background-color:#ffffff;
}
.c3-axis.c3-axis-x{
	font-size:26px;
	fill:#ffffff;
	color:#ffffff;
	background-color:#ffffff;
}
#degree1small {
	top:416px;
	position:relative;
	height:350px;
	width:300px;
	left:100px;
	font-family: Arial;
}
#small_graph1{
	position:absolute;
	top:132px;
	left:125px;
	height:200px;
	width:300px;
}


