* { margin : 0px ; padding: 0px ;}

header,nav,main,footer,section,article,aside {
	display : block;
}

#wrapper {
	position: relative;
	width:1004px;
	height:768px;
	margin : 0 auto;
	background-image:url("../images/backkk.jpg");
}

#slider-container {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    width: 570px;
    height: 70px;    
    position: absolute;
	top:395px;
    margin: 0 auto;
}

#slider-background {	
    margin: 0 auto;
    height:24px;
    width: 570px;
    background: url('images/background.png') no-repeat left top;
}


.wrapper{
	position:relative;
	margin:0 auto;
	height:768px;
	width:1004px;
	background-color:red;
}
#graphContainer{
	position:absolute;
	top:133px;
	right:155px;
}


#sliderCon{
	position:absolute;
	right:890px;
	top:139px;
	height: 570px;
	
}
